@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


* {
    box-sizing: border-box;
}

header {
    background-color:(0,0,0, .2);
    background-image: url(fondo-shubham-dhage.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 1em;
    
}

.titulo {
    text-align: center;
    color: rgb(173, 173, 172);
    font-family: 'Oswald';
    font-size: 4em;
    font-weight: lighter;
}

.form {
    float: left;
    font-family: monospace;
    font-weight: lighter;
    padding-right: 10%;
}

.nombre {
    float: left;
}

.msj input {
    height: 20em;
    width: 30em;
    padding-bottom: 20.5em;
    margin-bottom: 1.5em;
}


